<#import "partials/header.ftlh" as main>

<@main.renderWith scripts=["/js/client-edit.js"] styles=["/css/clients.css"]>

    <div id="containerClientEdit">
        <a class="btn btn-primary" href="/clients/${form.id}" style="background-color: RGB(215, 181, 109); color: #4f5050;">Отменить редактирование</a>
        <span class="label-input-text center mb-1" style="text-align: center">${form.id} от ${form.createDate}</span>
        <br>
        <form id="editClientForm" method="post" action="/client-edit">
            <input type="text" name="id" value="${form.id}" hidden>
            <div class="row mt-2">
                <div class="col-3">
                    <span class="label-input-text mb-1">Бин:</span>
                </div>
                <div class="col-9">
                    <input value="${form.bin}" id="bin" type="text" name="bin" style="width: 100%">
                    <#if errors?? >
                        <#list errors as fieldError>
                            <#if fieldError.field == 'bin'>
                                <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                            </#if>
                        </#list>
                    </#if>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <span class="label-input-text mb-1">Выберите префикс компании:</span>
                </div>
                <div class="col-6">
                    <select id="clientKbeSelector" name="clientKbe">
                        <#list clientKbes as clientKbe>
                            <option value="${clientKbe.id}">${clientKbe.shortName}</option>
                        </#list>
                    </select>
                    <#if errors?? >
                        <#list errors as fieldError>
                            <#if fieldError.field == 'clientKbe'>
                                <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                            </#if>
                        </#list>
                    </#if>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <span class="label-input-text mb-1">Наименование компании:</span>
                </div>
                <div class="col-9">
                    <input value="${form.name}"  type="text" name="name" style="width: 100%">
                    <#if errors?? >
                        <#list errors as fieldError>
                            <#if fieldError.field == 'name'>
                                <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                            </#if>
                        </#list>
                    </#if>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <span class="label-input-text mb-1">Краткое наименование компании:</span>
                </div>
                <div class="col-9">
                    <input value="${form.shortName}" id="shortName" type="text" name="shortName" style="width: 100%">
                    <#if errors?? >
                        <#list errors as fieldError>
                            <#if fieldError.field == 'shortName'>
                                <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                            </#if>
                        </#list>
                    </#if>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <span class="label-input-text mb-1">IBAN:</span>
                </div>
                <div class="col-9">
                    <input value="${form.accountNumber}" id="accountNumber" type="text" name="accountNumber" style="width: 100%">
                    <#if errors?? >
                        <#list errors as fieldError>
                            <#if fieldError.field == 'accountNumber'>
                                <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                            </#if>
                        </#list>
                    </#if>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-3">
                    <span class="label-input-text mb-1">Банк:</span>
                </div>
                <div class="col-9">
                    <select id="banksSelector" name="bank">
                        <option value="${form.bank}" selected>${form.bank}</option>
                        <option value="ALTYN_BANK">АО Altyn Bank</option>
                        <option value="BANK_RBK">Bank RBK</option>
                        <option value="FIRST_HEARTLAND_JýSAN_BANK">First Heartland Jýsan Bank</option>
                        <option value="FORTEBANK" >ForteBank</option>
                        <option value="KASPI_BANK">Kaspi Bank</option>
                        <option value="CENTERCREDIT">Банк ЦентрКредит</option>
                        <option value="ALFA_BANK">ДБ Альфа-Банк</option>
                        <option value="HOME_CREDIT_BANK">ДБ АО Банк Хоум Кредит</option>
                        <option value="SBERBANK">ДБ АО «Сбербанк России»</option>
                        <option value="HALYK_BANK">Народный сберегательный банк Казахстана</option>
                        <option value="NUR_BANK">АО Нурбанк</option>
                    </select>
                    <#if errors?? >
                        <#list errors as fieldError>
                            <#if fieldError.field == 'bank'>
                                <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                            </#if>
                        </#list>
                    </#if>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <span class="label-input-text mb-1">Основной Телефон:</span>
                </div>
                <div class="col-3">
                    <input value="${form.phoneMain}" class="phoneMain" type="text" name="phoneMainDisabled" style="width: 100%" disabled>
                    <input value="${form.phoneMain}" class="phoneMain" type="text" name="phoneMain" hidden>
                </div>
            </div>
            <div class="row mt-2 phone1">
                <div class="col-3">
                    <span class="label-input-text mb-1">Телефон 1:</span>
                </div>
                <div class="col-3">
                    <input value="${form.phone1}" type="text" name="phone1" style="width: 100%">
                    <#if errors?? >
                        <#list errors as fieldError>
                            <#if fieldError.field == 'phone1'>
                                <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                            </#if>
                        </#list>
                    </#if>
                </div>
                <div class="col-2 phoneStatus">
                    <button class="btn-xs rounded-1 btn-primary " style="background-color: RGB(215, 181, 109); color: #4f5050;">Сделать основным</button>
                </div>
                <div class="col-1 btnPhoneAdd" >
                    <button class="btn-xs rounded-1 btn-primary " style="background-color: RGB(215, 181, 109); color: #4f5050;">+ тел</button>
                </div>
            </div>
            <div class="row mt-2 phone2" hidden>
                <div class="col-3">
                    <span class="label-input-text mb-1" >Телефон 2:</span>
                </div>
                <div class="col-3">
                    <input value="${form.phone2}" type="text" name="phone2" style="width: 100%">
                    <#if errors?? >
                        <#list errors as fieldError>
                            <#if fieldError.field == 'phone2'>
                                <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                            </#if>
                        </#list>
                    </#if>
                </div>
                <div class="col-2 phoneStatus" >
                    <button class="btn-xs rounded-1 btn-primary " style="background-color: RGB(215, 181, 109); color: #4f5050;">Сделать основным</button>
                </div>
                <div class="col-1 btnPhoneAdd" >
                    <button class="btn-xs rounded-1 btn-primary " style="background-color: RGB(215, 181, 109); color: #4f5050;">+ тел</button>
                </div>
            </div>
            <div class="row mt-2 phone3" hidden>
                <div class="col-3">
                    <span class="label-input-text mb-1">Телефон 3:</span>
                </div>
                <div class="col-3">
                    <input value="${form.phone3}" type="text" name="phone3" style="width: 100%">
                    <#if errors?? >
                        <#list errors as fieldError>
                            <#if fieldError.field == 'phone3'>
                                <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                            </#if>
                        </#list>
                    </#if>
                </div>
                <div class="col-2 phoneStatus">
                    <button class="btn-xs rounded-1 btn-primary " style="background-color: RGB(215, 181, 109); color: #4f5050;">Сделать основным</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <span class="label-input-text mb-1">Основной e-mail:</span>
                </div>
                <div class="col-3">
                    <input value="${form.emailMain}" class="emailMain" type="text" name="emailMainDisabled" style="width: 100%" disabled>
                    <input value="${form.emailMain}" class="emailMain" type="text" name="emailMain" hidden>
                </div>
            </div>
            <div class="row mt-2 email1">
                <div class="col-3">
                    <span class="label-input-text mb-1">E-mail 1:</span>
                </div>
                <div class="col-3">
                    <input value="${form.email1}" type="text" name="email1" style="width: 100%">
                    <#if errors?? >
                        <#list errors as fieldError>
                            <#if fieldError.field == 'email1'>
                                <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                            </#if>
                        </#list>
                    </#if>
                </div>
                <div class="col-2 emailStatus" >
                    <button class="btn-xs rounded-1 btn-primary " style="background-color: RGB(215, 181, 109); color: #4f5050;">Сделать основным</button>
                </div>
                <div class="col-1 btnEmailAdd">
                    <button class="btn-xs rounded-1 btn-primary " style="background-color: RGB(215, 181, 109); color: #4f5050;">+ email</button>
                </div>
            </div>
            <div class="row mt-2 email2" hidden>
                <div class="col-3">
                    <span class="label-input-text mb-1">E-mail 2:</span>
                </div>
                <div class="col-3">
                    <input value="${form.email2}" type="text" name="email2" style="width: 100%">
                    <#if errors?? >
                        <#list errors as fieldError>
                            <#if fieldError.field == 'email2'>
                                <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                            </#if>
                        </#list>
                    </#if>
                </div>
                <div class="col-2 emailStatus" >
                    <button class="btn-xs rounded-1 btn-primary " style="background-color: RGB(215, 181, 109); color: #4f5050;">Сделать основным</button>
                </div>
                <div class="col-1 btnEmailAdd">
                    <button class="btn-xs rounded-1 btn-primary " style="background-color: RGB(215, 181, 109); color: #4f5050;">+ email</button>
                </div>
            </div>
            <div class="row mt-2 email3" hidden>
                <div class="col-3">
                    <span class="label-input-text mb-1">E-mail 3:</span>
                </div>
                <div class="col-3">
                    <input value="${form.email3}" type="text" name="email3" style="width: 100%">
                    <#if errors?? >
                        <#list errors as fieldError>
                            <#if fieldError.field == 'email3'>
                                <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                            </#if>
                        </#list>
                    </#if>
                </div>
                <div class="col-2 emailStatus">
                    <button class="btn-xs rounded-1 btn-primary " style="background-color: RGB(215, 181, 109); color: #4f5050;">Сделать основным</button>
                </div>
            </div>
            <div class="legal_address">
                <div class="row mt-2">
                    <div class="col-3">
                        <span class="label-input-text mb-1 legalAddress">Юридический адрес:</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        <span class="label-input-text mb-1">Страна:</span>
                    </div>
                    <div class="col-9">
                        <input type="text" name="legal_country" value="${addressForm.legal_country}" style="width: 100%">
                        <#if errors?? >
                            <#list errors as fieldError>
                                <#if fieldError.field == 'legal_country'>
                                    <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                                </#if>
                            </#list>
                        </#if>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        <span class="label-input-text mb-1">Город:</span>
                    </div>
                    <div class="col-9">
                        <input type="text" name="legal_city" value="${addressForm.legal_city}" style="width: 100%">
                        <#if errors?? >
                            <#list errors as fieldError>
                                <#if fieldError.field == 'legal_city'>
                                    <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                                </#if>
                            </#list>
                        </#if>

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        <span class="label-input-text mb-1">Улица:</span>
                    </div>
                    <div class="col-9">
                        <input type="text" name="legal_street" value="${addressForm.legal_street}" style="width: 100%">
                        <#if errors?? >
                            <#list errors as fieldError>
                                <#if fieldError.field == 'legal_street'>
                                    <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                                </#if>
                            </#list>
                        </#if>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        <span class="label-input mb-1">Дом:</span>
                    </div>
                    <div class="col-4">
                        <input type="text" name="legal_house" value="${addressForm.legal_house}" style="width: 100%">
                        <#if errors?? >
                            <#list errors as fieldError>
                                <#if fieldError.field == 'legal_house'>
                                    <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                                </#if>
                            </#list>
                        </#if>
                    </div>
                    <div class="col-2 addressBtn" >
                        <button class="btn-xs rounded-1 btn-primary " style="background-color: RGB(215, 181, 109); color: #4f5050;">+ физический адрес</button>
                    </div>
                </div>
            </div>

            <div class="row mt-2 addressBtnForm" hidden>
                <div class="col-3">
                    <span class="label-input-text mb-1 " >Физический адрес:</span>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        <span class="label-input-text mb-1">Страна:</span>
                    </div>
                    <div class="col-9">
                        <input type="text" name="physical_country" value="${addressForm.physical_country}" style="width: 100%">
                        <#if errors?? >
                            <#list errors as fieldError>
                                <#if fieldError.field == 'physical_country'>
                                    <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                                </#if>
                            </#list>
                        </#if>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        <span class="label-input-text mb-1">Город:</span>
                    </div>
                    <div class="col-9">
                        <input type="text" name="physical_city" value="${addressForm.physical_city}" style="width: 100%">
                        <#if errors?? >
                            <#list errors as fieldError>
                                <#if fieldError.field == 'physical_city'>
                                    <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                                </#if>
                            </#list>
                        </#if>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        <span class="label-input-text mb-1">Улица:</span>
                    </div>
                    <div class="col-9">
                        <input type="text" name="physical_street" value="${addressForm.physical_street}" style="width: 100%">
                        <#if errors?? >
                            <#list errors as fieldError>
                                <#if fieldError.field == 'physical_street'>
                                    <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                                </#if>
                            </#list>
                        </#if>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        <span class="label-input mb-1">Дом:</span>
                    </div>
                    <div class="col-9">
                        <input type="text" name="physical_house" value="${addressForm.physical_house}" style="width: 100%">
                        <#if errors?? >
                            <#list errors as fieldError>
                                <#if fieldError.field == 'physical_house'>
                                    <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                                </#if>
                            </#list>
                        </#if>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <span class="label-input-text mb-1">Статус:</span>
                </div>
                <div class="col-3">
                    <select name="status">
                        <option value="${form.status}" selected>${form.status}</option>
                        <option value="Постоянный">Постоянный</option>
                        <option value="Новый">Новый</option>
                        <option value="Архивный">Архивный</option>
                    </select>
                    <#if errors?? >
                        <#list errors as fieldError>
                            <#if fieldError.field == 'status'>
                                <p class="text-danger my-0">${fieldError.defaultMessage!'-- no message --'}</p>
                            </#if>
                        </#list>
                    </#if>
                </div>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary" type="submit" style="background-color: RGB(215, 181, 109); color: #4f5050;">Сохранить</button>
            </div>

        </form>
    </div>
</@main.renderWith>