<#import "partials/header.ftlh" as main>

<@main.renderWith scripts=["/js/contact-add.js"] styles=["/css/clients.css"]>
    <div id="containerClientAdd">
<h1 class="my-3">Добавление карточки контактного лица</h1>
<a class="btn btn-primary" style="background-color: RGB(215, 181, 109); color: #4f5050;" href="/clients/${clientId}">Отменить добавление</a>
<br>
<form method="post" action="/contact-add">
    <input type="text" name="phoneMain" id="phoneMain" hidden>
    <input type="text" name="emailMain" id="emailMain" hidden>
    <input type="text" name="clientId" value="${clientId}" hidden>
    <div class="row mt-2">
        <div class="col-3">
            <span class="label-input-text mb-1">Полное имя:</span>
        </div>
        <div class="col-9">
            <input id="name" type="text" name="name" style="width: 100%">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <span class="label-input-text mb-1">Должность:</span>
        </div>
        <div class="col-9">
            <input id="position" type="text" name="position" style="width: 100%">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <span class="label-input-text mb-1">День рождения:</span>
        </div>
        <div class="col-9">
            <input id="dateOfBirth" type="text" name="dateOfBirth" style="width: 100%">
        </div>
    </div>
    <div class="row mt-2 phone1">
        <div class="col-3">
            <span class="label-input-text mb-1">Телефон 1:</span>
        </div>
        <div class="col-3">
            <input class="phoneMain" type="text" name="phone1" style="width: 100%">
        </div>
        <div class="col-2 mx-5 phoneStatus">
            <span>Основной</span>
        </div>
        <div class="col-1 btn btn-primary btnPhoneAdd" style="background-color: RGB(215, 181, 109); color: #4f5050;">
            <span>+ тел</span>
        </div>
    </div>
    <div class="row mt-2 phone2" hidden>
        <div class="col-3">
            <span class="label-input-text mb-1">Телефон 2:</span>
        </div>
        <div class="col-3">
            <input type="text" name="phone2" style="width: 100%">
        </div>
        <div class="col-2 mx-5 btn btn-primary phoneStatus" style="background-color: RGB(215, 181, 109); color: #4f5050;">
            <span>Сделать основным</span>
        </div>
        <div class="col-1 btn btn-primary btnPhoneAdd" style="background-color: RGB(215, 181, 109); color: #4f5050;">
            <span>+ тел</span>
        </div>
    </div>
    <div class="row mt-2 phone3" hidden>
        <div class="col-3">
            <span class="label-input-text mb-1">Телефон 3:</span>
        </div>
        <div class="col-3">
            <input type="text" name="phone3" style="width: 100%">
        </div>
        <div class="col-2 mx-5 btn btn-primary phoneStatus" style="background-color: RGB(215, 181, 109); color: #4f5050;">
            <span>Сделать основным</span>
        </div>
        <div class="col-1">
        </div>
    </div>
    <div class="row mt-2 email1">
        <div class="col-3">
            <span class="label-input-text mb-1">E-mail 1:</span>
        </div>
        <div class="col-3">
            <input class="emailMain" type="text" name="email1" style="width: 100%">
        </div>
        <div class="col-2 mx-5 emailStatus">
            <span>Основной</span>
        </div>
        <div class="col-1 btn btn-primary btnEmailAdd" style="background-color: RGB(215, 181, 109); color: #4f5050;">
            <span>+ email</span>
        </div>
    </div>
    <div class="row mt-2 email2" hidden>
        <div class="col-3">
            <span class="label-input-text mb-1">E-mail 2:</span>
        </div>
        <div class="col-3">
            <input type="text" name="email2" style="width: 100%">
        </div>
        <div class="col-2 mx-5 btn btn-primary emailStatus" style="background-color: RGB(215, 181, 109); color: #4f5050;">
            <span>Сделать основным</span>
        </div>
        <div class="col-1 btn btn-primary btnEmailAdd" style="background-color: RGB(215, 181, 109); color: #4f5050;">
            <span>+ email</span>
        </div>
    </div>
    <div class="row mt-2 email3" hidden>
        <div class="col-3">
            <span class="label-input-text mb-1">E-mail 3:</span>
        </div>
        <div class="col-3">
            <input type="text" name="email3" style="width: 100%">
        </div>
        <div class="col-2 mx-5 btn btn-primary emailStatus" style="background-color: RGB(215, 181, 109); color: #4f5050;">
            <span>Сделать основным</span>
        </div>
    </div>
    <div class="mt-3">
        <button class="btn btn-primary" style="background-color: RGB(215, 181, 109); color: #4f5050;" type="submit">Сохранить</button>
    </div>
</form>
    </div>
</@main.renderWith>