<#import "partials/header.ftlh" as main>
<#import "partials/pagination.ftlh" as pagination>

<@main.renderWith scripts=[] styles=["/css/library.css"]>
    <h2 class="my-3">Удаление статьи ${library.title}</h2>
    <p>Вы уверены, что хотите удалить статью?</p>
    <div class="row">
        <form action="/library-delete" method="post">
            <div class="row">
                <label class="flex flex-v-center">
                    <input type="text" name="id" value="${(library.id)!''}" hidden>
                </label>
            </div>
            <div class="mt-3">
                <button class="btn btn-secondary" type="submit" style="background-color: RGB(215, 181, 109); color: #4f5050;">Да</button>
            </div>
        </form>
        <div class="mt-3">
            <button class="btn btn-secondary" type="submit" style="background-color: RGB(215, 181, 109); color: #4f5050;">Нет</button>
        </div>
    </div>

</@main.renderWith>