body{
    margin: 0 auto;
    padding: 0;
}
.navigation{
    /*position: fixed;*/
    inset: 20px;
    overflow: hidden;
    width: 110px;

}
.navigation .title-mini{
    width: 83px;
    height: 47px;
    margin-left: 10px;
}
.navigation.active .title-mini{
    width: 140px;
    height: 80px;
}
.navigation .user{
    font-size: 10px;
}
.navigation.active .user{
    font-size: 15px;
}

.navigation.active{
    width: 450px;
    font-size: 15px;
}

.toggle{
    position: absolute;
    left: 15px;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    cursor: pointer;
}
.toggle::before{
    content: '';
    position: absolute;
    right: 10px;
    bottom: 25px;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #365fa1 ;
    transform: translateY(-5px);
    transition: 1s;
}
.toggle::after{
    content: '';
    position: absolute;
    right: 10px;
    bottom: 23px;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #365fa1 ;
    transform: translateY(5px);
    transition: 1s;
}
.navigation.active .toggle::before{
    transform: translateY(0px) rotate(-405deg);
}
.navigation.active .toggle::after{
    transform: translateY(0px) rotate(225deg);
}
.navigation span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    /*position: relative;*/
}
.navigation.active span{
    font-size: 15px;
}
button{
    margin: 0 15px 0;
    background-color: RGB(215, 181, 109);
}
