body {
    font-family: "Lato", sans-serif;
    background: url('https://sun9-68.userapi.com/impf/zTND4XtJkezkBIoNRZyxidee6AV84yx5CTK6uA/aIqA16f3J9Y.jpg?size=1066x1423&quality=95&sign=26242cdc7930fe0c95bdfa51656c3181&type=album') no-repeat;
    background-size: cover;
}

.navigation-sidenav {
    width: 200px;
    z-index: 1;
    background-color: rgba(215, 181, 109, .5);
    /*background-image: url('https://sun9-68.userapi.com/impf/zTND4XtJkezkBIoNRZyxidee6AV84yx5CTK6uA/aIqA16f3J9Y.jpg?size=1066x1423&quality=95&sign=26242cdc7930fe0c95bdfa51656c3181&type=album');*/
    /*background-image: url("https://sun1.beeline-kz.userapi.com/impf/XCG26hwBt5l2yZAs-xBOsEH28iMWYmfYZGImFQ/zBhfB3v84AU.jpg?size=2560x1812&quality=95&sign=cfa670f93fedaf590b622147def073eb&type=album");*/
    overflow-x: hidden;
    font-weight: bolder;
    padding-top: 30px;
}
.minvh {
    min-height: 93.3vh;
}
.navigation-sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #666363;
    display: block;
}
.navigation-sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* То же, что и ширина боковой навигации */
    font-size: 28px; /* Увеличенный текст для включения прокрутки */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .navigation-sidenav {padding-top: 15px;}
    .navigation-sidenav a {font-size: 18px;}
}